rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() && request.auth.token.email in [
        'admin@similock.vn'
      ];
    }

    match /leads/{leadId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /products/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /projects/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /faqs/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /reviews/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /settings/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}
